name: Auto PR for endpoint updates

on:
  push:
    branches:
      - 'pipeline/autogen_sdk_*'
      - 'feat/1578-dev-version'

jobs:
  create-pr-and-release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Read VERSION file
        id: read_version
        run: |
          version=$(cat VERSION)
          if [[ -z "$version" || "$version" == "unknown" ]]; then
            echo "VERSION file is empty"
            echo "unknown" >> $GITHUB_OUTPUT
            exit 1
          fi

          tag=$(awk '{print $2}' VERSION)
          hash=$(awk '{print $4}' VERSION)
          
          if [[ "$version" == *"no-tag"* ]]; then
            echo ${hash} >> $GITHUB_OUTPUT
            exit 0
          fi
          
          echo "${tag}" >> $GITHUB_OUTPUT
            

      - name: Create and merge PR, create release
        if: steps.read_version.outputs.version != 'unknown'
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          VERSION=${{ steps.read_version.outputs.version }}
          echo "Version to use: $VERSION"

          # gh pr create \
          #   --title "feat: update endpoints from gateway $VERSION" \
          #   --body "Automated update of endpoints from gateway version $VERSION" \
          #   --base main

          # gh pr merge --squash --delete-branch

          # gh release create "$VERSION" \
          #   --title "$VERSION" \
          #   --notes "Update endpoints from gateway version $VERSION"
